---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    ИП ПОРУБОВА не проводит обучение лиц, с ограниченными возможностями
  </div>
</InfoSectionPage>
