---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    ООО «Рога и Копыта» не проводит обучение лиц с ограниченными возможностями
  </div>
</InfoSectionPage>
