---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>
     <a href="/info/documents/regulations/">Правила внутреннего распорядка обучающихся</a>
    </p>
    <p>
     <a href="/info/documents/labor_regulations/">Правила внутреннего трудового распорядка</a>
    </p>
    <p>
     <a href="/info/documents/agreement/">Коллективный договор</a>&nbsp;— НЕ ЗАКЛЮЧАЛСЯ
    </p>
    <p>
     <a href="/info/documents/admitting/">Правила приема обучающихся</a>
    </p>
    <p>
     <a href="/info/documents/schedule/">Режим занятий обучающихся</a>
    </p>
    <p>
     <a href="/info/documents/progress/">Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</a>
    </p>
    <p>
     <a href="/info/documents/deduction/">Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися</a>
    </p>
    <p>
     <a href="/info/documents/expulsion_reinstatement/">Порядок и основания перевода, отчисления и восстановления обучающихся</a>
    </p>
    <p>
     <a href="https://podofocus.ru/upload/medialibrary/559/pw24zqiv0o8rgi7rfbixyizr6td544bp.pdf">Отчет о результатах самообследования за 2024 г.</a>&nbsp;&nbsp;
    </p>
    <p>
     <a href="https://podofocus.ru/upload/medialibrary/559/otchet2025.pdf">Отчет о результатах самообследования за 2025 г.</a>&nbsp;&nbsp;
    </p>
    <p>
     <a href="/info/documents/prescriptions/">Предписания</a> - ОТСУТСТВУЮТ
    </p>
  </div>
</InfoSectionPage>
