---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p><strong>О наименовании структурного подразделения (органа управления):</strong>&nbsp;Структурные подразделения отсутствуют.</p>
    <p><strong>О фамилиях, именах, отчествах (при наличии) и должности руководителей структурных подразделений:</strong>&nbsp;Структурные подразделения отсутствуют.</p>
    <p><strong>О месте нахождения структурных подразделений:</strong>&nbsp;Структурные подразделения отсутствуют.</p>
    <p><strong>Об адресах официальных сайтов в сети &laquo;Интернет&raquo; структурных подразделений (при наличии):</strong>&nbsp;Структурные подразделения отсутствуют.</p>
    <p><strong>Об адресах электронной почты структурных подразделений (при наличии):</strong>&nbsp;Структурные подразделения отсутствуют.</p>
    <p><strong>О наличии положений о структурных подразделениях:</strong>&nbsp;Структурные подразделения отсутствуют.</p>
    <p><em>Информация о руководстве образовательной организации размещена в разделе &laquo;</em><a href="https://podofocus.ru/info/teaching_staff/"><em>Руководство. Педагогический (научно-педагогический) состав</em></a><em>&raquo;.</em></p>
  </div>
</InfoSectionPage>
