---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>У ИП Порубовой Е. С. стипендии и иные виды материальной поддержки обучающихся не предусмотрены.</p>
    <p>Организация не располагает общежитием и интернатом для обучающихся.</p>
  </div>
</InfoSectionPage>
