---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>
    	 ИП Порубова Елена Сергеевна ведет образовательную деятельность на основании лицензии на осуществление образовательной деятельности серии № Л035-01298-77/01653732, выданной Департаментом образования и науки города Москвы, от 20 декабря 2024 года, действует бессрочно.
    </p>
    <p>
    	 Выписка из реестра лицензий на осуществление образовательной деятельности:
    </p>
    <p>
     <a href="https://edu.gov.ru/"><u>https://edu.gov.ru/</u></a>&nbsp;
    </p>
    <p>
     <a href="https://minobrnauki.gov.ru/"><u>https://minobrnauki.gov.ru/</u></a>
    </p>
    <p>
    	 ИП Порубова Елена Сергеевна реализует дополнительные общеобразовательные общеразвивающие программы и основные программы профессионального обучения (программы профессиональной подготовки).
    </p>
    <p>
    	 Учебный процесс осуществляется в течение всего календарного года, обучение ведётся на русском языке.
    </p>
    <p>
    	 Форма обучения, время, место и формат проведения занятий определяются в соответствующей образовательной программе.
    </p>
    <p>
    	 Полная информация о реализуемых образовательных программах, включая учебные планы, аннотации рабочих программ дисциплин и иные компоненты образовательных программ, предоставляется заинтересованным лицам по запросу в соответствии с п. 4 ст. 29 Федерального закона «Об образовании в Российской Федерации». Для получения подробной информации об образовательных программах обращайтесь по электронной почте <a href="mailto:mailto:obuchenie@podofocus.ru">obuchenie@podofocus.ru</a>.
    </p>
    <p>
    	 Квоты на обучение не установлены. Обучение возможно на основании договора об оказании платных образовательных услуг. Плательщиком может выступать как физическое, так и юридическое лицо.
    </p>
     <br>
  </div>
</InfoSectionPage>
