@use '../mixins/breakpoints' as *;

.hero-blur {
  position: absolute;
  inset: 0 0 auto 0;
  height: 540px;
  pointer-events: none;
  filter: blur(90px);

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 999px;
    opacity: 0.22;
  }

  &:before {
    left: 2%;
    top: 42px;
    width: 180px;
    height: 180px;
    background: var(--teal);
  }

  &:after {
    right: 4%;
    top: 0;
    width: 210px;
    height: 210px;
    background: var(--purple);
  }
}

.hero-grid {
  @include respond(xl){
    padding-top: 12px;
  }
}

.hero-main {
  display: grid;
  gap: 12px;
  align-items: center;

  @include respond(md){
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

.hero-photo {
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 4 / 5;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-cta-btn {
  padding-top: 16px;
  padding-bottom: 16px;
}
