---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>
    	<strong>Об оборудованных учебных кабинетах</strong>: образовательная деятельность осуществляется в оборудованных учебных кабинетах, соответствующих санитарно-эпидемиологическим требованиям и требованиям реализуемых образовательных программ.
    </p>
    <p>
    	<strong>Об объектах для проведения практических занятий</strong>: практические занятия проводятся в специально оборудованных кабинетах и/или в электронной информационно-образовательной среде в зависимости от образовательной программы и формы обучения.
    </p>
    <p>
    	<strong>Об объектах для проведения практических занятий</strong>: практические занятия.
    </p>
    <p>
    	<strong>О библиотеке(ах):</strong> обучающимся обеспечивается доступ к учебным и учебно-методическим материалам в соответствии с реализуемыми образовательными программами, включая учебную литературу и методические материалы образовательной организации.
    </p>
    <p>
    	<strong>О средствах обучения и воспитания</strong>: Обучение осуществляется с использованием современных средств обучения, включая специализированное оборудование, учебно-методические материалы и электронные образовательные ресурсы.
    </p>
    <p>
    	<strong>Об условиях питания обучающихся</strong>: Организация питания обучающихся не предусмотрена.
    </p>
    <p>
    	<strong>Об условиях охраны здоровья обучающихся</strong>: Охрана здоровья обучающихся обеспечивается в соответствии с требованиями действующего законодательства, включая соблюдение санитарно-эпидемиологических норм и безопасных условий образовательного процесса.
    </p>
    <p>
    	<strong>О</strong><strong> доступе</strong><strong> к</strong><strong> информационным системам</strong><strong>и </strong><strong>информационно-телекоммуникационным сетям: </strong>доступ к информационным системам осуществляется через высокоскоростную корпоративную вычислительную сеть на основании договора на оказание телекоммуникационных услуг. Для функционирования электронной информационно-образовательной среды используется серверное оборудование.
    </p>
    <p>
    	<strong>О собственных образовательных и информационных ресурсах:</strong> Обучающимся предоставляется доступ к учебно-методическим материалам, разработанным образовательной организацией.
    </p>
    <p>
    	<strong>О специальных технических средствах обучения коллективного и индивидуального пользования для инвалидов и лиц с ограниченными возможностями здоровья:</strong> Специальные технические средства обучения коллективного и индивидуального пользования для инвалидов и лиц с ограниченными возможностями здоровья не предусмотрены.
    </p>
  </div>
</InfoSectionPage>
