---
interface Props {
    class?: string;
}
import Logo from '../../assets/logo_school.svg?raw';

const { class: className } = Astro.props;
---
<div class:list={['b-logo-company', className]}>
    <span class="logo-company__img" set:html={Logo}></span>
    <div class="b-logo-company__text">
        <span class="b-logo-company__title">Школа подологии Эксперт</span>
        <span class="b-logo-company__sub-title">Обучение авторским методам ARKADA</span>
    </div>
</div>
