---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>
     <a href="javascript:void(0)">Положение о порядке оказания платных образовательных услуг</a>
    </p>
    <p>
     <a href="javascript:void(0)">Образец договора об оказании платных образовательных услуг</a>
    </p>
    <p>
     <a href="javascript:void(0)">ОФЕРТА</a>
    </p>
    <p>
     <a href="javascript:void(0)">Приказ об утверждении стоимости</a>
    </p>
    <p>
     <a href="javascript:void(0)">Положение о порядке и условиях снижения стоимости</a>
    </p>
  </div>
</InfoSectionPage>
