---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>
     <a href="/upload/docs/1-polozhenie-o-poryadke-okazaniya-platnyh-obrazovatelnyh-uslug-pdf.pdf">Положение о порядке оказания платных образовательных услуг</a>
    </p>
    <p>
     <a href="/upload/docs/obrazec-dogovora-na-professionalnoe-obuchenie-fizlico12-1.pdf">Образец договора об оказании платных образовательных услуг</a>
    </p>
    <p>
     <a href="/upload/docs/publichnaya-oferta.pdf">ОФЕРТА</a>
    </p>
    <p>
     <a href="/upload/docs/prikaz-3-u-ot-20-12-2024-g-ob-utverzhdenii-stoimosti-obucheniya-s-podpisyu.pdf">Приказ об утверждении стоимости</a>
    </p>
    <p>
     <a href="/upload/docs/2-polozhenie-o-poryadke-i-usloviyah-snizheniya-stoimosti-platnyh-obrazovatelnyh-uslug-1.pdf">Положение о порядке и условиях снижения стоимости</a>
    </p>
  </div>
</InfoSectionPage>
