---
import Header from '../components/sections/Header.astro'
import Footer from '../components/sections/Footer.astro'
import '../styles/main.scss'
import '../styles/global.css'
import '../styles/plugins/swiper-bundle.min.css';
---
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title страницы</title>
    <!--<link rel="icon" href="/favicon.ico" sizes="any" />-->
    <!--<link rel="icon" href="/favicon.svg" type="image/svg+xml" />-->
    <!--<link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />-->
    <!--<link rel="manifest" href="/favicons/manifest.webmanifest" />-->
</head>
<body>
<div class="site-wrapper">
    <Header />
    <main class="page-content">
        <slot />
    </main>
    <Footer />
    <script is:inline src="/scripts/micromodal.min.js"></script>
    <script is:inline src="/scripts/swiper-bundle.min.js"></script>
</div>
</body>
</html>