---
import InfoSectionPage from '../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <dl>
      <div>
        <dt>Полное наименование</dt>
        <dd>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «РОГА И КОПЫТА»</dd>
      </div>
      <div>
        <dt>Сокращенное наименование</dt>
        <dd>ООО «РОГА И КОПЫТА»</dd>
      </div>
      <div>
        <dt>Телефон</dt>
        <dd><a href="tel:+79119999999">+7 911 999-99-99</a></dd>
      </div>
      <div>
        <dt>E-mail</dt>
        <dd><a href="javascript:void(0)">info@roga-kopyta.ru</a></dd>
      </div>
      <div>
        <dt>Адрес места осуществления образовательной деятельности</dt>
        <dd>123456, г. Москва, ул. Тестовая, д. 1, этаж № 1, помещение I, комнаты: 1, 2, 3</dd>
      </div>
      <div>
        <dt>Дата создания образовательной организации</dt>
        <dd>10.12.2018</dd>
      </div>
      <div>
        <dt>Время работы</dt>
        <dd>Пн. - Вс.: с 10:00 до 21:00</dd>
      </div>
    </dl>

    <section>
      <p>
        <strong>
          Информация о местах осуществления образовательной деятельности, в том числе не указанных в приложении к
          лицензии (реестре лицензий) на осуществление образовательной деятельности в соответствии с частью 4 статьи 91
          Федерального закона от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации»
        </strong>
      </p>
      <p>
        <strong>Места осуществления образовательной деятельности при использовании сетевой формы реализации образовательных программ:</strong>
        ООО «Рога и Копыта» не реализует образовательные программы с использованием сетевой формы.
      </p>
      <p><strong>Места проведения практики:</strong> 123456, город Москва, ул. Тестовая, д. 1, этаж №1, помещение I, комнаты: 1, 2, 3.</p>
      <p>
        <strong>Места проведения практической подготовки обучающихся:</strong> 123456, город Москва, ул. Тестовая, д. 1, этаж №1,
        помещение I, комнаты: 1, 2, 3.
      </p>
      <p>
        <strong>Места проведения государственной итоговой аттестации:</strong> ООО «Рога и Копыта» не реализует образовательные
        программы, предусматривающие проведение государственной итоговой аттестации.
      </p>
      <p>
        <strong>Места осуществления образовательнои деятельности по дополнительным образовательным программам:</strong> 123456, город Москва,
        ул. Тестовая, д. 1, этаж №1, помещение I, комнаты: 1, 2, 3.
      </p>
      <p>
        <strong>Места осуществления образовательнои деятельности по основным программам профессионального обучения:</strong> 123456, город
        Москва, ул. Тестовая, д. 1, этаж №1, помещение I, комнаты: 1, 2, 3.
      </p>
      <p>
        <strong>Сведения о лицензии на осуществление образовательной деятельности:</strong> Лицензия на образовательную деятельность №
        Л035-00000-77/00000000, выдана Департаментом образования и науки города Москвы, от 20 декабря 2024 года, действует бессрочно.
      </p>
      <p>
        Министерство просвещения —
        <a href="javascript:void(0)">https://edu.gov.ru/</a>
      </p>
      <p>
        Министерство высшего образования и науки —
        <a href="javascript:void(0)">https://minobrnauki.gov.ru/</a>
      </p>
      <p>
        <strong>Сведения о наличии или об отсутствии государственной аккредитации образовательной деятельности:</strong> В соответствии с
        частью 1 статьи 92 Федерального закона от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации» государственная аккредитация
        образовательной деятельности по дополнительным образовательным программам и программам профессионального обучения не проводится.
      </p>
      <p>Федеральные органы исполнительной власти, осуществляющие государственное управление в сфере образования:</p>
      <p>
        Министерство просвещения —
        <a href="javascript:void(0)">https://edu.gov.ru/</a>
      </p>
      <p>
        Министерство высшего образования и науки —
        <a href="javascript:void(0)">https://minobrnauki.gov.ru/</a>
      </p>
    </section>
  </div>
</InfoSectionPage>
