---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p>Вакантные места для приема (перевода) обучающихся, финансируемые за счет бюджетных&nbsp;ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов &mdash; не предусмотрены.</p>
    <p>Вакантные места для приема (перевода) обучающихся, финансируемые по договорам об образовании за счет средств физических и (или) юридических лиц &mdash; количество мест не ограничено.</p>
    <p>Прием ИП Порубовой Е. С. ведется без вступительных испытаний на бесконкурсной основе в течение всего календарного года.</p>
    <p>Перевод обучающихся из других образовательных организаций не осуществляется в соответствии с <a href="/upload/docs/6-polozhenie-o-poryadke-otchisleniya-vosstanovleniya-i-perevoda-obuchayuschihsya-1.pdf">ПОЛОЖЕНИЕМ О ПОРЯДКЕ И&nbsp;ОСНОВАНИИ ПЕРЕВОДА, ОТЧИСЛЕНИЯ И ВОССТАНОВЛЕНИЯ&nbsp;ОБУЧАЮЩИХСЯ</a>.</p>
  </div>
</InfoSectionPage>
