---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <div>
                <div>
                    <table>
    <tbody>
    <tr>
    	<th>
    		 ФИО
    	</th>
    	<th>
    		 Должность
    	</th>
    	<th>
    		 Преподаваемые дисциплины
    	</th>
    </tr>
    <tr>
    	<td>
    		 Ялова О. И.
    	</td>
    	<td>
    		 преподаватель
    	</td>
    	<td>
    		 Основная программа профессионального обучения «Введение в подологию. Сложные стопы – грани допустимого. Методы коррекции ногтей. Титановая нить»
    	</td>
    </tr>
    <tr>
    	<td>
    		 Новотольская И.Э.
    	</td>
    	<td>
    		 преподаватель
    	</td>
    	<td>
    		 Основная программа профессионального обучения&nbsp;«Аппаратный педикюр. Базовый»&nbsp;
    	</td>
    </tr>
    <tr>
    	<td colspan="1">
    		 Новотольская И.Э.
    	</td>
    	<td colspan="1">
    		 преподаватель
    	</td>
    	<td colspan="1">
    		Основная программа профессионального обучения «Аппаратный комбинированный маникюр».
    	</td>
    </tr>
    </tbody>
    </table>            </div>
            </div>
                        <div></div>
                        <p><strong>Информация о руководителе </strong><strong>образовательной организации:</strong>&nbsp;</p>
    <p>Индивидуальный предприниматель Порубова Елена Сергеевна</p>
    <p>Телефон: +7 (495) 664-43-33</p>
    <p>Электронная почта: <a href="mailto:director@podofocus.ru"><u>director@podofocus.ru</u></a></p>
  </div>
</InfoSectionPage>
