---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <div>
                <div>
                    <table>
    <tr>
            <th>Название</th>
            <th>Значение</th>
        </tr>
     <tr>
        <td>Информация о заключенных и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки&nbsp;</td>
        <td>Заключенных и планируемых к заключению договоров нет</td>
      </tr>
      <tr>
        <td>Информация о международной аккредитации образовательных программ</td>
        <td>Международная аккредитация образовательных программ отсутствует</td>
      </tr>
    </table>            </div>
            </div>
  </div>
</InfoSectionPage>
