@use '../../mixins/breakpoints' as *;

.download-catalog {
  background-color: #d6dfe6;
  position: relative;
  overflow: hidden;
  padding: 0;

  &__inner {
    display: grid;

    align-items: center;
    min-height: 380px;

    position: relative;
    z-index: 2;
    text-align: center;
    @include respond(md){
      text-align: left;
      gap: 24px;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__left {
    padding: 24px 0;
    @include respond(xxl){
      padding: 56px 0;
    }
  }

  .btn {
    padding: 12px 26px;
  }

  &__image {
    margin-left: auto;
    max-width: 84%;
    filter: drop-shadow(0 28px 28px rgba(31, 41, 55, 0.15));
    @include respond(xxl){
      width: 600px;
      transform: translate(14px, 12px);
    }
  }

  &__pattern {
    width: 470px;
    max-width: 40%;
    object-fit: cover;
    object-position: left center;
    clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%);
    pointer-events: none;
    z-index: 1;
    @include respond(xxl){
      clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}
