---
import InfoSectionPage from '../../../components/info/InfoSectionPage.astro';
---

<InfoSectionPage>
  <div class="content-editor">
    <p><strong>Информация</strong><strong> об</strong><strong> объеме</strong><strong> образовательной деятельности, финансовое обеспечение которой осуществляется:</strong></p>
    <ul>
    <li><strong>за счет бюджетных ассигнований федерального бюджета - 0%</strong></li>
    <li><strong>за счет бюджетов субъектов Российской Федерации - 0% * за счет местных бюджетов - 0%</strong></li>
    <li><strong>по договорам об оказании платных образовательных услуг - 100%</strong><strong>.</strong></li>
    </ul>
    <p><strong>Финансирование образовательной деятельности за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов не предусмотрено.</strong></p>
    <p><strong>Информация о поступлении финансовых и материальных средств по итогам финансового года: в связи с недавним получением лицензии на осуществление образовательной деятельности, организация находится на начальном этапе своей деятельности.</strong></p>
    <p><strong>Информация о поступлении финансовых и материальных средств за текущий финансовый год будет размещена после окончания отчетного периода и утверждения годовой бухгалтерской отчетности.</strong></p>
    <p><strong>Информация о расходовании финансовых</strong><strong> и материальных средств по итогам финансового года: в связи с недавним получением лицензии на осуществление образовательной деятельности, отчетность о расходовании финансовых и материальных средств будет размещена после окончания текущего финансового года.</strong></p>
    <p><strong>План финансово-хозяйств</strong><strong>енной деятельности образовательной организации: в связи с недавним получением лицензии на осуществление образовательной деятельности, план финансово-хозяйственной деятельности находится в процессе разработки и будет размещен на сайте после его утверждения.</strong></p>
  </div>
</InfoSectionPage>
